#titleFont {
  font-family: 'Montserrat', sans-serif;
}
#paraFont {
  font-family: 'Piazzolla', serif;
}
#open {
  display: block;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
  z-index: 100;
  height: 100vh;
}
#close {
  display: none;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out, visibility 0s 0.4s;
  transition: all 1s ease-in-out;
}
#links {
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
}
#blogBackground {
  background-repeat: no-repeat;
  background-size: cover !important;
  transition: linear 0.2s;
}
#gridIt {
  display: grid;
  gap: 5px;
}
#button1 {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  margin: 0.75rem 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: #FFD700;
  outline: black !important;
  border: 4px solid black;
}
#button2 {
  background-color: #FFD700;
  padding: 0.28rem 0.2rem;
  outline: black !important;
  border: 3.5px solid black;
  border-top: 3px solid black;
  margin-left: -0.5rem;
  margin-top: -0.2rem;
}
#button3 {
  background-color: #FFD700;
  outline: black !important;
  border-radius: 15px;
}
